<p>
  <strong>Email Campaign</strong>
  <%= @email_batch.campaign_name %>
</p>

<p>
  <strong>Email Subject:</strong>
  <%= @email_batch.subject %>
</p>

<p>
  <strong>Text:</strong>
  <%= @email_batch.text %>
</p>

<%= link_to 'Edit', edit_email_batch_path(@email_batch) %> |
<%= link_to 'Back', email_batches_path %>
