<h1>Email#index</h1>
<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Email</th>
    </tr>
  </thead>
  <tbody>
    <% @emails.each do |email| %>
      <tr>
        <td><%= email.name %></td>
        <td><%= email.email %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<div>
  <h4>Import data</h4>
    <%= form_tag import_emails_path, multipart: true do %>
      <%= file_field_tag :file %>
      <%= submit_tag "Import CSV" %>
    <% end %>
</div>
