<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Email</th>
    </tr>
  </thead>

  <% if @emails %>
    <tbody>
      <% @emails.each do |email| %>
        <tr>
          <td><%= email.name %></td>
          <td><%= email.email %></td>
        </tr>
      <% end %>
    </tbody>
  <% end %>
</table>


<div>
  <h4>
    <%= form_tag new_email_batch_url, multipart: true do %>
      <%= file_field_tag :file %>
      <%= submit_tag "Import CSV" %>
    <% end %>
  </h4>
</div>
